body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}


/* SECCION OPCIONES */

.contenedor-opciones {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    color: #fff;
    padding: 40px;
    border-radius: 24px;
    background: #ecf2f5;
    text-align: center;
}

.opciones {
    width: 24%;
    padding: 34px 30px 105px 30px;
    border-radius: 10px;
    margin-bottom: 40px;
    position: relative;
    background: -moz-linear-gradient(180deg, rgba(255, 90, 0, 1) 0%, rgba(255, 54, 0, 1) 100%);
    color: #fff
}

.opcion h4 {
    font-size: 30px;
    margin: 0;
    text-align: center;
}

.opcion p {
    margin-bottom: 20px;
    height: 194px;
    text-align: center;
}

.contenedor-opciones .primer {
    box-shadow: 0 12px 30px 0 rgba(80, 85, 223, .37);
}

.contenedor-opciones .seg {
    box-shadow: 0 12px 30px 0 rgba(86, 163, 222, .3);
}

.contenedor-opciones .tercera {
    box-shadow: 0 12px 30px 0 rgba(86, 163, 222, .3);
}